@model TimeTracking.MvcApplication.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home";
}

<p>@Html.BootstrapLinkButton("Add Time Entry", "Add", "TimeEntry", 
	BootstrapGlyphiconType.Plus, 
	false,
	BootstrapButtonStyle.Success, 
	BootstrapButtonSize.Large)</p>

<h3>Time Entries for @Model.Date.ToString("MM/dd/yyyy")</h3>

@if (Model.TimeEntries.Count == 0)
{
	<p class="text-info">There are no time entries for this day.</p>
}
else
{
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Project</th>
				<th>Task</th>
				<th>Time In</th>
				<th>Time Out</th>
				<th>Total Time</th>
				<th>Billable Time</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var timeEntry in Model.TimeEntries)
			 {
				<tr>
					<td>@Html.ActionLink("Edit", "Edit", new { controller = "TimeEntry", id = timeEntry.TimeEntryId })</td>
					<td>@timeEntry.ProjectTask.Project.Name</td>
					<td>@timeEntry.ProjectTask.Name</td>
					<td>@Model.ToLocalDateTimeString(timeEntry.TimeInUtc)</td>
					<td>@Model.ToLocalDateTimeString(timeEntry.TimeOutUtc)</td>
					<td>@timeEntry.TotalTimeDisplay</td>
					<td>@timeEntry.TotalBillableTimeDisplay</td>
					<td>@timeEntry.Comment</td>
				</tr>		
			 }
		</tbody>
	</table>
}

@section Secondary {

	<h3>Week of @Model.WeekOf.ToString("MM/dd/yyyy")</h3>

	<ul>
		@foreach (var date in Model.Dates)
		 {
			 if (date == Model.Date)
			 {
				 <li>@date.ToString("MM/dd dddd")</li>
			 }
			 else
			 {
				 <li>@Html.RouteLink(date.ToString("MM/dd dddd"), "Date", 
						new { date = date.ToString("yyyy-MM-dd") })</li>
			 }
		 }
	</ul>

	<div class="row">
		<div class="col-xs-2">
		</div>
		<div class="col-xs-4">
			@Html.BootstrapLinkButton("", "Date", 
				new { date = Model.PreviousWeek.ToString("yyyy-MM-dd") }, 
				BootstrapGlyphiconType.StepBackward, true)
		</div>
		<div class="col-xs-4">
			@Html.BootstrapLinkButton("", "Date", 
				new { date = Model.NextWeek.ToString("yyyy-MM-dd") },
				BootstrapGlyphiconType.StepForward, true)
		</div>
		<div class="col-xs-2">
		</div>
	</div>

}
