@model TimeTracking.MvcApplication.ViewModels.TimeEntryViewModel
@using TimeTracking.MvcApplication.ViewModels

@using (Html.BootstrapBeginForm(FormMethod.Post, BootstrapFormType.Horizontal))
{
	@Html.ValidationSummary(true)

	using (Html.BootstrapBeginFormGroup(model => model.ProjectId,
		BootstrapGridColumn.Small2, BootstrapGridColumn.Small10))
	{
		@Html.DropDownListFor(model => model.ProjectId, Model.ProjectItems,
			new { data_bind = "value: selectedProjectId", @class = "form-control" })
	}

	using (Html.BootstrapBeginFormGroup(model => model.ProjectTaskId,
		BootstrapGridColumn.Small2, BootstrapGridColumn.Small10))
	{
		@Html.HiddenFor(model => model.ProjectTaskId,
			new { data_bind = "value: selectedProjectTaskId" })
        <select data-bind="
			options: projectTasks, 
			optionsText: 'Name', 
			optionsValue: 'ProjectTaskId', 
			enable: projectTasks() != null && projectTasks().length > 1, 
			value: selectedProjectTaskId
		" class="form-control"></select>
	}

	using (Html.BootstrapBeginFormGroup(model => model.Billable,
		BootstrapGridColumn.Small2, BootstrapGridColumn.Small10))
	{
		<div class="checkbox">
			@Html.CheckBoxFor(model => model.Billable,
				new { data_bind = "checked: isBillable" })
		</div>
	}
	 
	using (Html.BootstrapBeginFormGroup(model => model.TimeInDate,
		BootstrapGridColumn.Small2, BootstrapGridColumn.Small10))
	{
		<div class="row">
			<div class="col-xs-6 col-sm-3">
		        @Html.TextBoxFor(model => model.TimeInDate, new { @class = "form-control" })
			</div>
			<div class="col-xs-6 col-sm-3" style="padding-left: 0">
		        @Html.TextBoxFor(model => model.TimeInTime, new { @class = "form-control" })
			</div>
		</div>
	}

	using (Html.BootstrapBeginFormGroup(model => model.TimeOutDate,
		BootstrapGridColumn.Small2, BootstrapGridColumn.Small10))
	{
		<div class="row">
			<div class="col-xs-6 col-sm-3">
		        @Html.TextBoxFor(model => model.TimeOutDate, new { @class = "form-control" })
			</div>
			<div class="col-xs-6 col-sm-3" style="padding-left: 0">
		        @Html.TextBoxFor(model => model.TimeOutTime, new { @class = "form-control" })
			</div>
		</div>
	}

	using (Html.BootstrapBeginFormGroup(model => model.Comment,
		BootstrapGridColumn.Small2, BootstrapGridColumn.Small10))
	{
        @Html.TextAreaFor(model => model.Comment, new { @class = "form-control", rows = "8" })
	}

    <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">

		@switch (Model.Mode)
  {
	  case ViewModelBase.ViewMode.Add:
					<input type="submit" value="Add" />
		  break;
	  case ViewModelBase.ViewMode.Edit:
					<input type="submit" value="Save" />
					<a href="#" id="DeleteTimeEntry">Delete</a>
					@Html.HiddenFor(model => model.TimeEntryId)
		  break;
  }
		</div>
	</div>

	@Html.HiddenFor(model => model.ProjectTasksJson)
	@Html.HiddenFor(model => model.Mode)
}

@if (Model.Mode == ViewModelBase.ViewMode.Edit)
{
	using (Html.BeginForm("Delete", "TimeEntry", FormMethod.Post, new { id = "DeleteTimeEntryForm" }))
	{
		@Html.HiddenFor(model => model.TimeEntryId);
	}
}

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>
