<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css", "~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Time Tracking", "Index", "Home", new { }, new { @class = "navbar-brand" })
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
			<li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
			<li>@Html.ActionLink("Projects", "Index", "Project")</li>
			</ul>
		</div>
	</div>

	<h2>@ViewBag.Title</h2>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/knockout")
	<script src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
